DirectoryIndex index.php index.html

RewriteEngine On

RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d

RewriteRule ^about$ about.php [L]
RewriteRule ^services$ services.php [L]
RewriteRule ^soulready$ soulready.php [L]
RewriteRule ^contact$ contact.php [L]
RewriteRule ^booking$ booking.php [L]
RewriteRule ^booking-confirm$ booking-confirm.php [L]
